<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            font-family: sans-serif;
        }
        body{
            background-color: #fafbff;
        }
        #welcome_note{
            font-size: 22px;
        }
        #post_title{
            margin: 6px 0;
            font-size: 20px;
        }
        #logout_btn{
            text-decoration: none;
            color: white;
            background: rgb(191, 14, 14);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;

            position: fixed;
            top: 20px;
            right: 20px;
        }

        /* ---- form ----- */
        textarea{
            display: block;
            outline: none;
            resize: none;
            padding: 5px 10px;
        }
        input{
            color: rgb(0, 0, 0);
            border: none;
            background: rgb(255, 225, 0);
            background: #ff8800;
            padding: 10px;
            border-radius: 3px;
            margin: 20px 0;
            cursor: pointer;
        }
        
        /* your_posts */
        #your_posts{
            margin-top: 60px;
            font-size: 12px;
        }



        /* post_box */
        #post_box{
            width: 400px;
            background-color: rgb(249, 249, 249);
            background-color: rgba(0, 151, 226, 0.219);
            padding: 10px;
            border: 1px solid black;
            border-radius: 3px;
            margin-bottom: 20px;
        }

        .username{
            color: rgb(25, 0, 255);
            font-size: 13px;
            margin: 0px 0 1px 0;
        }
        .content{
            font-size: 15px;
            margin: 10px 0;
        }
        .like{
            font-size: 12px;
            color: rgb(25, 0, 255);
            margin-right: 10px;
            cursor: pointer;
            text-decoration: none;
        }
        .edit{
            font-size: 12px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <p id="welcome_note">Welcome <strong>  👋</strong></p>
    <h2 id="post_title">Edit your Post</h2>
    <form action="/updatepost/<%= post._id %>" method="post">
        <textarea name="content" id="" cols="40" rows="5" name="content"> <%= post.content %> </textarea>
        <input type="submit" value="Update post">
    </form>


    <a id="logout_btn" href="/logout"><i class="fa fa-sign-out" style="font-size:16px;color:rgb(255, 255, 255); margin-right: 10px;"></i>Logout</a>
</body>
</html>

