<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: sans-serif;
        }
        h2{
            margin-bottom: 50px;
        }
        input[type=submit]{
            color: white;
            background-color: rgb(1, 60, 187);
            border: 0;
            padding: 6px 10px;
            border-radius: 3px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>Upload Profile Picture</h2>
    <form action="/uploadDP" method="POST" enctype="multipart/form-data">
        <input type="file" name="picture" id=""> <br>
        <input type="submit" value="upload">
    </form>

</body>
</html>